.VideoContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 50px 10px;
    .VideoBox{
        transition-duration: 400ms;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:300px;
        height:210px;
        border: 1px solid rgba(0, 0, 0, 0.151);
        border-radius: 15px;
        box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
        color: rgba(0, 0, 0, 0.692);;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 14px;
        iframe{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }
    .VideoBox:hover{
        transition-duration: 400ms;
        width:330px;
        height:240px;
        margin-top: 0;
        margin-bottom: 0;
        
    }
}